@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-element: var(--background-element);
  --color-background-selected: var(--background-selected);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --background-element: #F0F0F3;
  --background-selected: #E0E1E6;
  --text-secondary: #60646C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --background-element: #212225;
    --background-selected: #2E3135;
    --text-secondary: #B0B4BA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
